.Weather {
    padding:20px;
    border: 1px solid #dadde1;
    border-radius: 5px;
  }
  .Weather .details {
    margin-bottom: 20px;
    display: inline-block;
  }
  .Weather h1 {
    color: #19191d;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 0;
  }
  .Weather h4 {
    color: #898787;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
  }

  .Weather .weather-temperature{
    margin: 20px 0 0 0;
  }
  .Weather .weather-temperature img {
    display:inline-block;
    height: 100px;
    margin-top: 0px;
    vertical-align: top;
    width: 100px;
  }
  .Weather .weather-temperature b {
    color: #19191d;
    display: inline;
    font-size: 50px;
    font-weight: 400;
    height:auto;
    letter-spacing:normal;
    line-height:100px;
    width:auto;
  }
  .Weather .weather-temperature .units {
    position: relative;
    font-size: 20px;
    top: -28px;
  }
  