:root{
  --default-font-family: 'Gentium Book Plus', serif;
  --background-color: #66bfbf;
  --light-color: #eaf6f6;
  --accent-color: #f76b8a;
  --dark-color: #19191d;
}
.Weather {
  font-family: var(--default-font-family);
  padding: 16px;
  border: 1px solid var(--light-color);
  border-radius: 5px;
  background-color: rgba(256, 256, 256, 0.3 );
}
.Weather input {
  border-radius: 5px 0 0 5px!important;
}
.Weather form .btn-search {
  background-color: var(--background-color);
  color: var(--light-color);
  border: none;
  transition: all 100ms ease;
  display: inline-block;
  border-radius: 0!important;
}
.Weather form .btn-search:hover {
  background-color: var(--light-color);
  color: var(--background-color);
  border: 2px solid var(--background-color);
}
.Weather form .btn-current {
  background-color:var(--accent-color);
  color: var(--light-color);
  border: none;
  transition: all 100ms ease;
  border-radius: 0 5px 5px 0;
}
.Weather form .btn-current:hover {
  background-color: var(--light-color);
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
  border-radius: 0 5px 5px 0;
}

.Weather .details {
    margin-bottom: 20px;
    display: inline-block;
  }
.Weather .details .description{
    color: var(--accent-color);
    font-size: 25px;
    font-weight: 500;
  }

.Weather h1 {
    color: var(--accent-color);
    font-size: 40px;
    line-height: 28px;
    margin-bottom: 0;
  }
  .Weather h4 {
    color: var(--dark-color);
    font-size: 20px;
    line-height: 24px;
    margin: 0;
  }

  @media (max-width: 575.98px) { 
  
    .Weather form .btn-search {
      width: 100%;
      border-radius: 5px!important;
      margin-top: 1rem;
    }
    .Weather form .btn-current{
      width: 100%;
      border-radius: 5px!important;
      margin-top: 1rem;
    }
    h1 {
      text-align: center!important;
    }

   }


  